@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-seccion4 {
    margin: 3rem 0;
    &__contenedor {
        width: 90%;
        @include m.flex (row, nowrap, center, center);
        position: relative;
        &-imagen {
            // max-width: 31.25rem;
            
        }
        &-descripcion {
            // max-width: 15.625rem;

        }
    }
    &__multimedia {
        position: relative;
        padding: 2rem;
        @include m.flex (row, nowrap, center, center);
        &-arriba, &-abajo {
            max-width: 5.25rem;
            margin: 0 auto;
            width: 50%;
            height: 5px;
            background-color: map-get(v.$colores, color-primario);
        }
        &-arriba {
            @include m.position (absolute, -0.3125rem, null, null, 1rem);
            border-radius: 5px 5px 0 0;
        }
        &-abajo {
            @include m.position (absolute, null, 1rem, -0.3125rem, null);
            border-radius: 0 0 5px 5px;
        }
    }
    &__cuadrito {
        @include m.position (absolute, 1.3994rem, -5.3563rem, null, null);
    }
}